#aboutUs {
  background-color: #f8fafa;
  .container {
    max-width: 1066px;
    margin: 0 auto;
    /*     padding: 0 15px;
 */
  }
  .section-contents {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 6%;
    margin-top: 145px;

    .left-block {
      .block-nav {
        margin: 40px 0;
        width: 100%;
        display: flex;
        justify-content: center;
      }

      .nav-radio {
        display: inline-block;
        margin: 2px;
        border-radius: 0.188rem;
        background-color: #d0d0d0;
        width: 11px;
        height: 10px;
      }
    }
    .right-block {
      color: #000;
      opacity: 0.75;
      line-height: 1.75rem;

      .right-blok__header {
        font-family: "Merriweather-bold";
        font-size: 1.25rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.075rem;
        padding-bottom: 20px;
      }
      .right-block__text {
        font-family: "Raleway-regular";
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 0.05rem;
      }
      .right-block__header2 {
        font-family: "Merriweather-bold";
        font-size: 1.063rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.064rem;
        padding: 23px 0 10px;
      }
    }
  }
}
