.footer-social {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 85px 0;
  font-size: 1rem;
  font-family: "Raleway-regular";
  background-color: rgb(38, 43, 46);
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.social {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 14px;
}

.social-img {
  margin: 0 8px;
  width: 45px;
  height: 40px;
  background: #3f4244;
  font-size: 20px;
  font-family: "FontAwesome";
  color: rgb(187, 184, 185);
  line-height: 2.1;
}

.social-img:hover {
  background-color: #71f6eb;
  color: rgba(0, 0, 0, 0.949);
  cursor: pointer;
}
.copyright {
  width: 100%;
  margin-top: 30px;
  color: rgba(255, 255, 255, 0.4);
}
