.footer {
  padding-top: 130px;
  background: url("/src/img/background.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  &::after {
    content: "";
    background-color: rgb(248, 250, 251);
    opacity: 0.67;
  }
}

form {
  display: block;
  box-shadow: 0 0 1.875rem rgba(21, 21, 21, 0.12);
  background-color: rgb(2, 22, 35);
  opacity: 0.71;
  margin: 20px;
  padding: 20px 2.5% 0;
}

.form-addres {
  width: 13.313rem;
  height: 9.938rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  background-color: rgb(2, 22, 35);
  border: 0;
  border-bottom: 1px solid #fff;
  font-size: 0.938rem;
  font-family: "Raleway";
  color: rgba(255, 255, 255, 0.6);
}

span {
  width: 100%;
  font-size: 0.938rem;
  font-family: "Raleway";
  color: rgba(255, 255, 255, 0.702);
  line-height: 1.6;
}

.massage {
  height: 120px;
}

.map {
  width: 100%;
  min-height: 224px;
  margin: 20px 0;
  background: url("/img/GoogleMap.png");
}

/* Footer-Social */

.footer-social {
  padding: 80px 0;
  font-size: 1rem;
  font-family: "Raleway";
  background-color: rgb(38, 43, 46);
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-social-img {
  width: 100%;
  display: flex;
  justify-content: center;
}

.social-img {
  margin: 0 8px;
  width: 45px;
  height: 40px;
  background: #3f4244;
  font-size: 20px;
  font-family: "FontAwesome";
  color: rgb(187, 184, 185);
  line-height: 2.1;
}

.social-img:hover {
  background-color: #71f6eb;
  color: rgba(0, 0, 0, 0.949);
}
.copyright {
  width: 100%;
  padding-top: 35px;
  color: rgba(255, 255, 255, 0.4);
}

.form-wrapper {
  display: grid;
  grid-template-columns: minmax(100px, 614px) 1fr;
  grid-template-rows: auto;
  gap: 26px;
}

.footer-button {
  padding: 12px 37px;
  margin: 40px 0;
  border-radius: 0.125rem;
  background-color: rgb(110, 238, 228);
  border: none;
  color: rgb(0, 0, 0);
  font-family: "Montserrat";
  font-size: 1.125rem;
  letter-spacing: 0.135rem;
  line-height: 1.75rem;
  text-transform: uppercase;
}

footer {
  display: flex;
  justify-content: center;
  align-content: center;
}



.form-second {
    box-shadow: 0 0 30px rgba(21, 21, 21, 0.12);
    background-color: #021623;
    opacity: 0.71;
    margin-bottom: 122px;
    .form-addres {
      color: #f8fafa;
      font-family: "Raleway";
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
      padding-left: 30px;
      padding-top: 36px;
    }
  }