header {
  background-color: #eff0f2;
  opacity: 0.99;
  .header-nav {
    grid-column-gap: 20px;
    grid-template-columns: 113px 1fr;
    align-items: center;
    position: relative;
    padding-top: 64px;
    .header-logo {
      display: block;
      max-width: 100%;
    }
    .header-menu {
      .menu-list {
        display: none;
        justify-content: flex-end;
        flex-wrap: wrap;
        .menu-list__item {
          font-size: 1.25rem;
          font-weight: 700;
          line-height: 12px;
          color: #505050;
          margin-left: 25px;
        }
      }
      .menu-list__item:first-child {
        margin-left: 0;
      }

      .menu-list__link {
        color: #505050;
        text-transform: uppercase;
        transition-property: color;
        transition-duration: 500ms;
        &:hover {
          color: #76f4ea;
        }
        &:active {
          color: #76f4ea;
        }
        &:focus {
          color: #76f4ea;
        }
      }
    }
  }
  .header-content {
    margin: 0 auto;
    text-align: center;
    padding-top: 195px;
    .content-block {
      text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
      color: #505050;
      font-family: "Montserrat-bold";
      font-size: 2.813rem;
      font-size: 2.813rem;
      font-weight: bold;
      line-height: 1.7rem;
      letter-spacing: 0.169rem;
      text-transform: uppercase;
      position: relative;

      .content-color {
        background-color: #76f4ea;
        opacity: 0.95;
      }
      .content-blok__suptitle {
        padding-bottom: 25px;
      }
    }
    .content-button {
      margin: 150px 0 0;
      display: inline-block;
      border-radius: 0.125rem;
      border: 0.125rem solid rgba(0, 0, 0, 0.5);
      padding: 2px 40px 10px;
      .button-link {
        width: 136px;
        color: #000;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.75rem;
        text-transform: uppercase;
        letter-spacing: 0.135rem;
      }
    }
    .content-item {
      display: flex;
      justify-content: flex-end;
      position: relative;
      padding-bottom: 128px;
      .item-img {
        display: block;
        max-width: 100%;
        position: relative;
        right: 5%;
      }
    }
  }
}

/* Header hamburger */

.header-hamburger {
  display: block;
  position: absolute;
  top: 50px;
  right: 0px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-size: 0;
  border: none;
  box-shadow: none;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  background-color: #eff0f2;
  &:focus {
    outline: none;
  }
  .header-hamburger__item {
    display: block;
    position: absolute;
    top: 30px;
    left: 18px;
    right: 18px;
    height: 4px;
    border-radius: 2px;
    background: rgb(0, 0, 0);
    opacity: 0.6;
    &:after {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background: rgb(0, 0, 0);
      bottom: -8px;
    }
    &:before {
      content: "";
      top: -8px;
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background: rgb(0, 0, 0);
    }
  }

  .header-hamburger-line.header-hamburger__item {
    transition: background 0s 0.3s;
  }
  .header-hamburger-line.header-hamburger__item:before .header-hamburger-line.header-hamburger__itet:after {
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
  }
  .header-hamburger-line.header-hamburger__item:before {
    transition-property: top, transform;
  }
  .header-hamburger-line.header-hamburger__item:before {
    transition-property: bottom, transfrom;
  }
  .header-hamburger-line.is-active {
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(0, 0, 0));
  }
  .header-hamburger-line.is-active span {
    background: none;
  }
  .header-hamburger-line.is-active span:before {
    top: 0;
    transform: rotate(-45deg);
  }
  .header-hamburger-line.is-active span:after {
    bottom: 0;
    transform: rotate(45deg);
  }
  .header-hamburger-line.is-active.header-hamburger__item:before {
    transition-delay: 0s, 0.3s;
  }
  .header-hamburger-line.is-active.header-hamburger__item:after {
    transition-delay: 0s, 0.3s;
  }
}
