#mainFooter {
  max-width: 100%;
  background: url("/images/christmas_snow_trees-wide.png") no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid red;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: rgb(248, 250, 251);
    opacity: 0.67;
  }
  .container {
    margin: 0 auto;
  }
  .form-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 115px 0;
    .form-first form {
      width: 614px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
      border: 1px solid red;
      background-color: #021623;
      box-shadow: 0 0 1.875rem rgba(21, 21, 21, 0.12);
      opacity: 0.71;
      input {
        width: 100%;
        height: 50px;
        margin-top: 20px;
        border: 0;
        font-size: 15px;
        font-family: "Raleway";
        color: rgba(255, 255, 255, 0.6);
        box-shadow: 0 0 1.875rem rgba(21, 21, 21, 0.12);
        background-color: #021623;
        opacity: 0.71;
      }
      .footer-button {
        display: inline-block;
        margin: 0 auto;
      }
    }
  }
}
