#portfolio {
  .container {
    max-width: 1139px;
    margin: 0 auto;
    /*     padding: 0 15px;
 */
  }

  .works-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    margin: 123px 0;
    grid-gap: 15px;

    .works-item__img {
      width: 100%;
    }
  }
}
