#recall {
  background-color: #f9fbfb;
  .container {
    max-width: 1165px;
    margin: 0 auto;
  }
  .section-contents {
    padding: 130px 0;
    position: relative;
    .section-information {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .block-left {
        .block-nav {
          margin: 40px 0;
          width: 100%;
          display: flex;
          justify-content: center;
        }
        .nav-radio {
          display: inline-block;
          margin: 2px;
          border-radius: 0.188rem;
          background-color: #d0d0d0;
          width: 11px;
          height: 10px;
        }
      }
      .person-information {
        padding: 0 85px;
        border-radius: 0.188rem;
        background-color: #eaebed;
        min-width: 666px;
        height: 362px;
        text-align: center;
        .person-information__name {
          padding-top: 95px;
          color: #000;
          font-family: "Merriweather-bold";
          font-size: 1.25rem;
          font-weight: 700;
          letter-spacing: 0.075rem;
          .person-position {
            opacity: 0.95;
            color: rgb(120, 120, 120);
            font-family: "Merriweather";
            font-size: 0.938rem;
            font-style: italic;
            line-height: 1.75rem;
            text-transform: uppercase;
          }
        }
        .person-information__text {
          max-width: 499px;
          padding-bottom: 33px;
          opacity: 0.7;
          color: #000;
          font-family: "Raleway-regular";
          font-size: 1rem;
          line-height: 1.688rem;
          letter-spacing: 0.06rem;
        }
      }
      .said-star {
        width: 100%;
        display: flex;
        justify-content: center;
        .star {
          width: 15px;
          height: 15px;
        }
      }
    }
    .section-slider {
      display: flex;
      justify-content: space-between;
      width: 135px;
      position: absolute;
      right: 0;
      .slider-prev:hover {
        background-color: #71f6eb;
        cursor: pointer;
      }
      .slider-next:hover {
        background-color: #71f6eb;
        cursor: pointer;
      }
    }
  }
}
.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 53px;
  height: 53px;
  font-weight: bolder;
  width: 53px;
  height: 53px;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 8px 11px 0px rgba(20, 20, 21, 0.05);
}
