  /*  .services-img {
    display: grid;
    grid-template-columns: minmax(100px, 652px) 1fr;
    grid-gap: 14px;
    margin: 120px 0;
    .services-img__item {
      background-size: cover;
      background-repeat: none;
      position: relative;
      &:hover {
        &::after {
          opacity: 0.75;
        }
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: $overlay-color;
        transition: opacity 0.5s ease;
        opacity: 0.65;
      }
      .services-img-content {
        margin-top: 28.2%;
        margin-left: 9.9%;
        z-index: 1;
        .services-img-content__title {
          opacity: 0.95;
          color: rgb(255, 255, 255);
          font-family: "Merriweather-bold";
          font-size: 1.25rem;
          font-weight: 700;
          line-height: 1.813rem;
          text-transform: uppercase;
          letter-spacing: 0.063rem;
        }
        .services-img-content__text {
          padding-top: 6.8%;
          opacity: 0.7;
          color: rgb(255, 255, 255);
          font-family: "Raleway";
          font-size: 1rem;
          line-height: 1.625rem;
          letter-spacing: 0.02rem;
        }
        .services-img-content__link {
          opacity: 0.5;
          color: rgb(255, 255, 255);
          font-family: "Raleway";
          font-size: 1.188rem;
          font-weight: 500;
          line-height: 5.313rem;
          text-transform: uppercase;
          cursor: pointer;
          &::after {
            content: "\2192";
            margin-left: 20px;
          }
        }
      }
    }
  }
}  */

#services {
  background-color: #f9fbfb;
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }

  .services-items {
    margin: 113px 0;
    .services-wrapper {
      display: grid;
      grid-template-columns: minmax(100px, 652px) 1fr;
      grid-gap: 15px;
      position: relative;
      .service-item {
        padding-top: 180px;
        padding-left: 67px;
        position: relative;
        &:hover {
          &::after {
            opacity: 0.75;
          }
        }
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background-color: $overlay-color;
          transition: opacity 0.5s ease;
          opacity: 0.65;
        }
        .service-body {
          color: #fff;
          z-index: 1000;
          .service-title {
            font-family: "Merriweather-bold";
            font-size: 1.25rem;
            font-weight: 700;
            line-height: 1.813rem;
            text-transform: uppercase;
            letter-spacing: 0.063rem;
          }
          .service-content {
            font-family: "Raleway-regular";
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.563rem;
            letter-spacing: 0.02rem;
            margin-top: 17px;
            opacity: 0.7;
          }
          .service-link {
            color: #fff;
            font-family: "Raleway-medium";
            font-size: 1.125rem;
            font-weight: 500;
            line-height: 5.313rem;
            text-transform: uppercase;
            letter-spacing: 0.045rem;
            cursor: pointer;
            opacity: 0.7;
            &::after {
              content: "\2192";
              margin-left: 20px;
            }
          }
        }
      }
    }
  }
  .services-wrapper2 {
    display: grid;
    grid-template-columns: minmax(100px, 472px) 1fr;
    grid-gap: 15px;
    margin-top: 15px;
    position: relative;
    .service-item {
      padding-top: 125px;
      padding-left: 67px;
      position: relative;
      &:hover {
        &::after {
          opacity: 0.75;
        }
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: $overlay-color;
        transition: opacity 0.5s ease;
        opacity: 0.65;
      }
      .service-body {
        color: #fff;
        z-index: 1000;
        .service-title {
          font-family: "Merriweather-bold";
          font-size: 1.25rem;
          font-weight: 700;
          line-height: 1.813rem;
          text-transform: uppercase;
          letter-spacing: 0.063rem;
        }
        .service-content {
          font-family: "Raleway-regular";
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.563rem;
          letter-spacing: 0.02rem;
          margin-top: 17px;
          opacity: 0.7;
        }
        .service-link {
          color: #fff;
          font-family: "Raleway-medium";
          font-size: 1.125rem;
          font-weight: 500;
          line-height: 5.313rem;
          text-transform: uppercase;
          letter-spacing: 0.045rem;
          cursor: pointer;
          opacity: 0.7;
          &::after {
            content: "\2192";
            margin-left: 20px;
          }
        }
      }
    }
  }
}

/* Wrapper  */
#services .services-items .services-wrapper .service-item:nth-child(4) {
  height: 23.125rem;
  padding-top: 160px;
}
#services .services-items .services-wrapper .service-item:nth-child(3) {
  height: 23.125rem;
  padding-top: 160px;
}

/* Wrapper2 */
.services-wrapper2 .service-item:first-child {
  height: 23.125rem;
}
.services-wrapper2 .service-item:last-child {
  height: 23.125rem;
}
