#team {
  .container {
    max-width: 1141px;
    margin: 0 auto;
  }
  .team-wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 370px));
    grid-template-rows: auto;
    grid-gap: 15px;
    margin: 123px 0;

    .team-item {
      background-size: cover;
      background-repeat: none;
      position: relative;
      min-height: 27.5rem;
      .team-blok {
        margin: 1%;
        width: 31%;
        height: 241px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-wrap: wrap;
        .team-hover {
          display: block;
          width: 20.938rem;
          height: 15.063rem;
          margin-bottom: 17px;
          padding: 10.5% 10%;
          background: #6ff6eb;
          position: absolute;
          box-shadow: 3px 6px 16px rgba(20, 20, 21, 0.18);
          opacity: 0.98;
          top: 180px;
          left: 18px;
          right: 17px;
        }

        .social {
          font-size: 0.813rem;
          font-family: "FontAwesome";
          color: rgba(0, 0, 0, 0.702);
          line-height: 1.348rem;
          letter-spacing: 0.3rem;
        }

        .ui-content {
          padding: 23px 0 35px;
          font-family: "Raleway-regular";
          font-size: 1rem;
          font-weight: 400;
          color: rgba(0, 0, 0, 0.8);
          line-height: 1.5rem;
        }

        .ui-name {
          font-family: "Merriweather-bold";
          font-size: 1.25rem;
          color: rgba(39, 39, 39, 0.949);
          font-weight: 700;
          line-height: 1.5rem;
        }

        .ui-designer {
          color: rgb(118, 112, 112);
          font-family: "Merriweather-regular";
          font-size: 0.938rem;
          color: rgb(118, 112, 112);
          opacity: 0.95;
          font-weight: 400;
          font-style: italic;
          line-height: 1.5rem;
        }
        .triangles {
          width: 0px;
          height: 0px;
          border-bottom: 25px solid #6ff6eb;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          position: absolute;
          top: -25px;
          left: 4.5%;
        }
      }
    }
  }
}
