@font-face {
  font-family: "Font-Awesome";
  src: url("/fonts/FontsAwesome/fontawesome-webfont.woff"), format("woff");
}

@font-face {
  font-family: "Merriweather-regular";
  src: url("/fonts/Merriweather/merriweather-regular.woff"), format("woff");
}

@font-face {
  font-family: "Merriweather-bold";
  src: url("/fonts/MerriweatherBold/Merriweather-Bold-webfont.woff"), format("woff");
}

@font-face {
  font-family: "Merriweather-boldItalik";
  src: url("/fonts/MerriweatherBoldItalic/merriweather-bold-italic.woff"), format("woff");
}

@font-face {
  font-family: "Merriweather-light";
  src: url("/fonts/MerriweatherLight/Merriweather-Light.woff"), format("woff");
}

@font-face {
  font-family: "Raleway-regular";
  src: url("/fonts/Raleway/raleway-regular.woff") format("woff");
}

@font-face {
  font-family: "Raleway-medium";
  src: url("/fonts/RalewayMedium/raleway-medium.woff") format("woff");
}

@font-face {
  font-family: "Montserrat-regular";
  src: url("/fonts/Montserrat/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat-bold";
  src: url("/fonts/MontserratBold/Montserrat-Bold.woff") format("woff");
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-family: "Montserrat-regular", sans-serif;
  font-size: 1rem;
  opacity: 0.99;
  overflow-x: hidden;
}

.container {
  max-width: 1108px;
  margin: 0 auto;
  padding: 0 15px;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.button {
  color: #000;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;
  text-transform: uppercase;
}

.section-header {
  padding-top: 113px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.section-header .section-header__suptitle {
  opacity: 0.9;
  font-family: "Montserrat-bold";
  font-size: 2.375rem;
  font-weight: 700;
  letter-spacing: 0.143rem;
}

.section-header .section-header__title {
  opacity: 0.7;
  font-family: "Merriweather-regular";
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: 0.068rem;
}

header {
  background-color: #eff0f2;
  opacity: 0.99;
}

header .header-nav {
  grid-column-gap: 20px;
  -ms-grid-columns: 113px 1fr;
      grid-template-columns: 113px 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-top: 64px;
}

header .header-nav .header-logo {
  display: block;
  max-width: 100%;
}

header .header-nav .header-menu .menu-list {
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .header-nav .header-menu .menu-list .menu-list__item {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 12px;
  color: #505050;
  margin-left: 25px;
}

header .header-nav .header-menu .menu-list__item:first-child {
  margin-left: 0;
}

header .header-nav .header-menu .menu-list__link {
  color: #505050;
  text-transform: uppercase;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

header .header-nav .header-menu .menu-list__link:hover {
  color: #76f4ea;
}

header .header-nav .header-menu .menu-list__link:active {
  color: #76f4ea;
}

header .header-nav .header-menu .menu-list__link:focus {
  color: #76f4ea;
}

header .header-content {
  margin: 0 auto;
  text-align: center;
  padding-top: 195px;
}

header .header-content .content-block {
  text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
  color: #505050;
  font-family: "Montserrat-bold";
  font-size: 2.813rem;
  font-size: 2.813rem;
  font-weight: bold;
  line-height: 1.7rem;
  letter-spacing: 0.169rem;
  text-transform: uppercase;
  position: relative;
}

header .header-content .content-block .content-color {
  background-color: #76f4ea;
  opacity: 0.95;
}

header .header-content .content-block .content-blok__suptitle {
  padding-bottom: 25px;
}

header .header-content .content-button {
  margin: 150px 0 0;
  display: inline-block;
  border-radius: 0.125rem;
  border: 0.125rem solid rgba(0, 0, 0, 0.5);
  padding: 2px 40px 10px;
}

header .header-content .content-button .button-link {
  width: 136px;
  color: #000;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;
  text-transform: uppercase;
  letter-spacing: 0.135rem;
}

header .header-content .content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  padding-bottom: 128px;
}

header .header-content .content-item .item-img {
  display: block;
  max-width: 100%;
  position: relative;
  right: 5%;
}

/* Header hamburger */
.header-hamburger {
  display: block;
  position: absolute;
  top: 50px;
  right: 0px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-size: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  background-color: #eff0f2;
}

.header-hamburger:focus {
  outline: none;
}

.header-hamburger .header-hamburger__item {
  display: block;
  position: absolute;
  top: 30px;
  left: 18px;
  right: 18px;
  height: 4px;
  border-radius: 2px;
  background: black;
  opacity: 0.6;
}

.header-hamburger .header-hamburger__item:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: black;
  bottom: -8px;
}

.header-hamburger .header-hamburger__item:before {
  content: "";
  top: -8px;
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: black;
}

.header-hamburger .header-hamburger-line.header-hamburger__item {
  -webkit-transition: background 0s 0.3s;
  transition: background 0s 0.3s;
}

.header-hamburger .header-hamburger-line.header-hamburger__item:before .header-hamburger-line.header-hamburger__itet:after {
  -webkit-transition-duration: 0.3s, 0.3s;
          transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
          transition-delay: 0.3s, 0s;
}

.header-hamburger .header-hamburger-line.header-hamburger__item:before {
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, -webkit-transform;
  transition-property: top, transform;
  transition-property: top, transform, -webkit-transform;
}

.header-hamburger .header-hamburger-line.header-hamburger__item:before {
  -webkit-transition-property: bottom, transfrom;
  transition-property: bottom, transfrom;
}

.header-hamburger .header-hamburger-line.is-active {
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
  background: linear-gradient(to bottom, white, black);
}

.header-hamburger .header-hamburger-line.is-active span {
  background: none;
}

.header-hamburger .header-hamburger-line.is-active span:before {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header-hamburger .header-hamburger-line.is-active span:after {
  bottom: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header-hamburger .header-hamburger-line.is-active.header-hamburger__item:before {
  -webkit-transition-delay: 0s, 0.3s;
          transition-delay: 0s, 0.3s;
}

.header-hamburger .header-hamburger-line.is-active.header-hamburger__item:after {
  -webkit-transition-delay: 0s, 0.3s;
          transition-delay: 0s, 0.3s;
}

#aboutUs {
  background-color: #f8fafa;
}

#aboutUs .container {
  max-width: 1066px;
  margin: 0 auto;
  /*     padding: 0 15px;
 */
}

#aboutUs .section-contents {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 6%;
  margin-top: 145px;
}

#aboutUs .section-contents .left-block .block-nav {
  margin: 40px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#aboutUs .section-contents .left-block .nav-radio {
  display: inline-block;
  margin: 2px;
  border-radius: 0.188rem;
  background-color: #d0d0d0;
  width: 11px;
  height: 10px;
}

#aboutUs .section-contents .right-block {
  color: #000;
  opacity: 0.75;
  line-height: 1.75rem;
}

#aboutUs .section-contents .right-block .right-blok__header {
  font-family: "Merriweather-bold";
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.075rem;
  padding-bottom: 20px;
}

#aboutUs .section-contents .right-block .right-block__text {
  font-family: "Raleway-regular";
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
}

#aboutUs .section-contents .right-block .right-block__header2 {
  font-family: "Merriweather-bold";
  font-size: 1.063rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.064rem;
  padding: 23px 0 10px;
}

#portfolio .container {
  max-width: 1139px;
  margin: 0 auto;
  /*     padding: 0 15px;
 */
}

#portfolio .works-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(270px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  margin: 123px 0;
  grid-gap: 15px;
}

#portfolio .works-items .works-item__img {
  width: 100%;
}

/*  .services-img {
    display: grid;
    grid-template-columns: minmax(100px, 652px) 1fr;
    grid-gap: 14px;
    margin: 120px 0;
    .services-img__item {
      background-size: cover;
      background-repeat: none;
      position: relative;
      &:hover {
        &::after {
          opacity: 0.75;
        }
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: $overlay-color;
        transition: opacity 0.5s ease;
        opacity: 0.65;
      }
      .services-img-content {
        margin-top: 28.2%;
        margin-left: 9.9%;
        z-index: 1;
        .services-img-content__title {
          opacity: 0.95;
          color: rgb(255, 255, 255);
          font-family: "Merriweather-bold";
          font-size: 1.25rem;
          font-weight: 700;
          line-height: 1.813rem;
          text-transform: uppercase;
          letter-spacing: 0.063rem;
        }
        .services-img-content__text {
          padding-top: 6.8%;
          opacity: 0.7;
          color: rgb(255, 255, 255);
          font-family: "Raleway";
          font-size: 1rem;
          line-height: 1.625rem;
          letter-spacing: 0.02rem;
        }
        .services-img-content__link {
          opacity: 0.5;
          color: rgb(255, 255, 255);
          font-family: "Raleway";
          font-size: 1.188rem;
          font-weight: 500;
          line-height: 5.313rem;
          text-transform: uppercase;
          cursor: pointer;
          &::after {
            content: "\2192";
            margin-left: 20px;
          }
        }
      }
    }
  }
}  */
#services {
  background-color: #f9fbfb;
}

#services .container {
  max-width: 1140px;
  margin: 0 auto;
}

#services .services-items {
  margin: 113px 0;
}

#services .services-items .services-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(100px, 652px) 1fr;
      grid-template-columns: minmax(100px, 652px) 1fr;
  grid-gap: 15px;
  position: relative;
}

#services .services-items .services-wrapper .service-item {
  padding-top: 180px;
  padding-left: 67px;
  position: relative;
}

#services .services-items .services-wrapper .service-item:hover::after {
  opacity: 0.75;
}

#services .services-items .services-wrapper .service-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  opacity: 0.65;
}

#services .services-items .services-wrapper .service-item .service-body {
  color: #fff;
  z-index: 1000;
}

#services .services-items .services-wrapper .service-item .service-body .service-title {
  font-family: "Merriweather-bold";
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.813rem;
  text-transform: uppercase;
  letter-spacing: 0.063rem;
}

#services .services-items .services-wrapper .service-item .service-body .service-content {
  font-family: "Raleway-regular";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.563rem;
  letter-spacing: 0.02rem;
  margin-top: 17px;
  opacity: 0.7;
}

#services .services-items .services-wrapper .service-item .service-body .service-link {
  color: #fff;
  font-family: "Raleway-medium";
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 5.313rem;
  text-transform: uppercase;
  letter-spacing: 0.045rem;
  cursor: pointer;
  opacity: 0.7;
}

#services .services-items .services-wrapper .service-item .service-body .service-link::after {
  content: "\2192";
  margin-left: 20px;
}

#services .services-wrapper2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(100px, 472px) 1fr;
      grid-template-columns: minmax(100px, 472px) 1fr;
  grid-gap: 15px;
  margin-top: 15px;
  position: relative;
}

#services .services-wrapper2 .service-item {
  padding-top: 125px;
  padding-left: 67px;
  position: relative;
}

#services .services-wrapper2 .service-item:hover::after {
  opacity: 0.75;
}

#services .services-wrapper2 .service-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  opacity: 0.65;
}

#services .services-wrapper2 .service-item .service-body {
  color: #fff;
  z-index: 1000;
}

#services .services-wrapper2 .service-item .service-body .service-title {
  font-family: "Merriweather-bold";
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.813rem;
  text-transform: uppercase;
  letter-spacing: 0.063rem;
}

#services .services-wrapper2 .service-item .service-body .service-content {
  font-family: "Raleway-regular";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.563rem;
  letter-spacing: 0.02rem;
  margin-top: 17px;
  opacity: 0.7;
}

#services .services-wrapper2 .service-item .service-body .service-link {
  color: #fff;
  font-family: "Raleway-medium";
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 5.313rem;
  text-transform: uppercase;
  letter-spacing: 0.045rem;
  cursor: pointer;
  opacity: 0.7;
}

#services .services-wrapper2 .service-item .service-body .service-link::after {
  content: "\2192";
  margin-left: 20px;
}

/* Wrapper  */
#services .services-items .services-wrapper .service-item:nth-child(4) {
  height: 23.125rem;
  padding-top: 160px;
}

#services .services-items .services-wrapper .service-item:nth-child(3) {
  height: 23.125rem;
  padding-top: 160px;
}

/* Wrapper2 */
.services-wrapper2 .service-item:first-child {
  height: 23.125rem;
}

.services-wrapper2 .service-item:last-child {
  height: 23.125rem;
}

#team .container {
  max-width: 1141px;
  margin: 0 auto;
}

#team .team-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 370px))[3];
      grid-template-columns: repeat(3, minmax(100px, 370px));
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 15px;
  margin: 123px 0;
}

#team .team-wrapper .team-item {
  background-size: cover;
  background-repeat: none;
  position: relative;
  min-height: 27.5rem;
}

#team .team-wrapper .team-item .team-blok {
  margin: 1%;
  width: 31%;
  height: 241px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#team .team-wrapper .team-item .team-blok .team-hover {
  display: block;
  width: 20.938rem;
  height: 15.063rem;
  margin-bottom: 17px;
  padding: 10.5% 10%;
  background: #6ff6eb;
  position: absolute;
  -webkit-box-shadow: 3px 6px 16px rgba(20, 20, 21, 0.18);
          box-shadow: 3px 6px 16px rgba(20, 20, 21, 0.18);
  opacity: 0.98;
  top: 180px;
  left: 18px;
  right: 17px;
}

#team .team-wrapper .team-item .team-blok .social {
  font-size: 0.813rem;
  font-family: "FontAwesome";
  color: rgba(0, 0, 0, 0.702);
  line-height: 1.348rem;
  letter-spacing: 0.3rem;
}

#team .team-wrapper .team-item .team-blok .ui-content {
  padding: 23px 0 35px;
  font-family: "Raleway-regular";
  font-size: 1rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.5rem;
}

#team .team-wrapper .team-item .team-blok .ui-name {
  font-family: "Merriweather-bold";
  font-size: 1.25rem;
  color: rgba(39, 39, 39, 0.949);
  font-weight: 700;
  line-height: 1.5rem;
}

#team .team-wrapper .team-item .team-blok .ui-designer {
  color: #767070;
  font-family: "Merriweather-regular";
  font-size: 0.938rem;
  color: #767070;
  opacity: 0.95;
  font-weight: 400;
  font-style: italic;
  line-height: 1.5rem;
}

#team .team-wrapper .team-item .team-blok .triangles {
  width: 0px;
  height: 0px;
  border-bottom: 25px solid #6ff6eb;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  position: absolute;
  top: -25px;
  left: 4.5%;
}

#recall {
  background-color: #f9fbfb;
}

#recall .container {
  max-width: 1165px;
  margin: 0 auto;
}

#recall .section-contents {
  padding: 130px 0;
  position: relative;
}

#recall .section-contents .section-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#recall .section-contents .section-information .block-left .block-nav {
  margin: 40px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#recall .section-contents .section-information .block-left .nav-radio {
  display: inline-block;
  margin: 2px;
  border-radius: 0.188rem;
  background-color: #d0d0d0;
  width: 11px;
  height: 10px;
}

#recall .section-contents .section-information .person-information {
  padding: 0 85px;
  border-radius: 0.188rem;
  background-color: #eaebed;
  min-width: 666px;
  height: 362px;
  text-align: center;
}

#recall .section-contents .section-information .person-information .person-information__name {
  padding-top: 95px;
  color: #000;
  font-family: "Merriweather-bold";
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.075rem;
}

#recall .section-contents .section-information .person-information .person-information__name .person-position {
  opacity: 0.95;
  color: #787878;
  font-family: "Merriweather";
  font-size: 0.938rem;
  font-style: italic;
  line-height: 1.75rem;
  text-transform: uppercase;
}

#recall .section-contents .section-information .person-information .person-information__text {
  max-width: 499px;
  padding-bottom: 33px;
  opacity: 0.7;
  color: #000;
  font-family: "Raleway-regular";
  font-size: 1rem;
  line-height: 1.688rem;
  letter-spacing: 0.06rem;
}

#recall .section-contents .section-information .said-star {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#recall .section-contents .section-information .said-star .star {
  width: 15px;
  height: 15px;
}

#recall .section-contents .section-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 135px;
  position: absolute;
  right: 0;
}

#recall .section-contents .section-slider .slider-prev:hover {
  background-color: #71f6eb;
  cursor: pointer;
}

#recall .section-contents .section-slider .slider-next:hover {
  background-color: #71f6eb;
  cursor: pointer;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 53px;
  height: 53px;
  font-weight: bolder;
  width: 53px;
  height: 53px;
  border-radius: 3px;
  background-color: white;
  -webkit-box-shadow: 0px 8px 11px 0px rgba(20, 20, 21, 0.05);
          box-shadow: 0px 8px 11px 0px rgba(20, 20, 21, 0.05);
}

#logo .container {
  max-width: 1133px;
  margin: 0 auto;
}

#logo .logos-wrapper {
  display: block;
  padding: 103px 0;
}

#mainFooter {
  max-width: 100%;
  background: url("/images/christmas_snow_trees-wide.png") no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid red;
  position: relative;
}

#mainFooter::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #f8fafb;
  opacity: 0.67;
}

#mainFooter .container {
  margin: 0 auto;
}

#mainFooter .form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 115px 0;
}

#mainFooter .form-wrapper .form-first form {
  width: 614px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid red;
  background-color: #021623;
  -webkit-box-shadow: 0 0 1.875rem rgba(21, 21, 21, 0.12);
          box-shadow: 0 0 1.875rem rgba(21, 21, 21, 0.12);
  opacity: 0.71;
}

#mainFooter .form-wrapper .form-first form input {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  border: 0;
  font-size: 15px;
  font-family: "Raleway";
  color: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0 0 1.875rem rgba(21, 21, 21, 0.12);
          box-shadow: 0 0 1.875rem rgba(21, 21, 21, 0.12);
  background-color: #021623;
  opacity: 0.71;
}

#mainFooter .form-wrapper .form-first form .footer-button {
  display: inline-block;
  margin: 0 auto;
}

.footer-social {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 85px 0;
  font-size: 1rem;
  font-family: "Raleway-regular";
  background-color: #262b2e;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.social {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 14px;
}

.social-img {
  margin: 0 8px;
  width: 45px;
  height: 40px;
  background: #3f4244;
  font-size: 20px;
  font-family: "FontAwesome";
  color: #bbb8b9;
  line-height: 2.1;
}

.social-img:hover {
  background-color: #71f6eb;
  color: rgba(0, 0, 0, 0.949);
  cursor: pointer;
}

.copyright {
  width: 100%;
  margin-top: 30px;
  color: rgba(255, 255, 255, 0.4);
}
/*# sourceMappingURL=main.css.map */