*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-family: "Montserrat-regular", sans-serif;
  font-size: 1rem;
  opacity: 0.99;
  overflow-x: hidden;
}

.container {
  max-width: 1108px;
  margin: 0 auto;
  padding: 0 15px;
}

.grid {
  display: grid;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.button {
  color: #000;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;
  text-transform: uppercase;
}

.section-header {
  padding-top: 113px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  .section-header__suptitle {
    opacity: 0.9;
    font-family: "Montserrat-bold";
    font-size: 2.375rem;
    font-weight: 700;
    letter-spacing: 0.143rem;
  }
  .section-header__title {
    opacity: 0.7;
    font-family: "Merriweather-regular";
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: 0.068rem;
  }
}
