@font-face {
  font-family: "Font-Awesome";
  src: url("/fonts/FontsAwesome/fontawesome-webfont.woff"), format("woff");
}

@font-face {
  font-family: "Merriweather-regular";
  src: url("/fonts/Merriweather/merriweather-regular.woff"), format("woff");
}

@font-face {
  font-family: "Merriweather-bold";
  src: url("/fonts/MerriweatherBold/Merriweather-Bold-webfont.woff"), format("woff");
}
@font-face {
  font-family: "Merriweather-boldItalik";
  src: url("/fonts/MerriweatherBoldItalic/merriweather-bold-italic.woff"), format("woff");
}

@font-face {
  font-family: "Merriweather-light";
  src: url("/fonts/MerriweatherLight/Merriweather-Light.woff"), format("woff");
}

@font-face {
  font-family: "Raleway-regular";
  src: url("/fonts/Raleway/raleway-regular.woff") format("woff");
}

@font-face {
  font-family: "Raleway-medium";
  src: url("/fonts/RalewayMedium/raleway-medium.woff") format("woff");
}

@font-face {
  font-family: "Montserrat-regular";
  src: url("/fonts/Montserrat/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat-bold";
  src: url("/fonts/MontserratBold/Montserrat-Bold.woff") format("woff");
}
