/* media quire */

@media (max-width: 1021px) {
    /* Header */
    header .header-content {
      font-size: 1.9rem;
      line-height: 1.5rem;
      letter-spacing: 0.1rem;
    }
  }
  @media (max-width: 800px) {
    /* Header */
  
    header .header-content {
      font-size: 1.5rem;
      line-height: 1.5rem;
      letter-spacing: 0.1rem;
    }
    header .header-top .header-menu .menu-list {
      font-size: 1rem;
      margin-left: 15px;
    }
    header .header-content .header-content__title {
      padding-top: 17px;
    }
  }
  
  @media (max-width: 575px) {
    /* Header */
  
    header .header-content {
      font-size: 1rem;
      line-height: 1.2rem;
      letter-spacing: 0.1rem;
    }
    header .header-content .header-content__title {
      padding-top: 7px;
    }
  
    header .header-top .header-menu .menu-list {
      font-size: 1rem;
      margin-left: 15px;
    }
    header .header-hamburger.header-hamburger-line {
      /*  display: block; */
    }
  }
  